@import url(../style.css);

main > section#TxtInicial{
    margin: 0px 50px;
}

main > section#TxtInicial > h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 8px;
}

main > section#TxtInicial > p {
    font-size: 26px;
    text-align: justify;
    margin: 0px 0px 8px 0px;
    line-height: 1.5em;
}

main > section#MsgMotivacional {
    background-image: url(../Mídias/Imagens/Foto_Frase_Página_Inicia_Editada.jpg);
    height: 100%;
    width: 100%;
    margin-top: 32px;
    

}

main > section#MsgMotivacional > p {
    font: 52px impact, fantasy;
    color: white;
    padding-top: 730px;
    padding-left: 16px;
    margin: 0;
}

main > section#MsgMotivacional > p > strong{
    color: var(--Cor5);
    font-weight: normal;
}

main > section > article {
    margin: 30px 50px 0px 50px;
}

main > section > article > h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 8px;
}

main > section > article > p {
    font-size: 26px;
    text-align: justify;
    margin: 0px 0px 8px 0px;
    line-height: 1.5em;
}