@import url(../style.css);

main {
    text-align: center;
    margin-top: 50px;
}

main > section#Introducao {
    background-color: var(--Cor2);
    width: 1200px;
    margin: auto;
}

main > section#Introducao > h2 {
    font: bold 50px var(--FamilyTitle);
    text-align: left;
    margin: 0px;
    padding: 30px;
}

main > section#Introducao > p {
    text-align: justify;
    font-size: 22px;
    margin: 0px;
    padding: 0px 30px 30px 30px;
}

main > section#SistemaMuscular > img#Representacao {
    width: 80%;
}

main > section#SistemaMuscular > button#Virar {
    background-color: var(--Cor2);
    color: white;
    display: block;
    margin: auto;
    width: 150px;
    height: 70px;
    font: bold 40px var(--FamilyText);
    border: solid 5px black;
    border-radius: 100px;
}

main > section#SistemaMuscular > button#Virar:hover {
    background-color: var(--Cor3);
    color: var(--Cor1);
    cursor: pointer;
}

section#TabelaGrupos{
    text-align: center;
    width: 1264px;
    height: auto;
    margin: auto;
    margin-top: 50px;
    
}

section#TabelaGrupos > nav {
    text-align: center;
    margin: auto;
    margin-bottom: -1px;
}

section#TabelaGrupos > nav > button {
    display: inline;
    background-color: var(--Cor1);
    width: 158px;
    height: 78px;
    margin: -2px;
    border: none;
    font: normal 24px var(--FamilyText);
    color:white;
    /*
    cursor: default;
    */
}

/*
section#TabelaGrupos > nav > button:hover {
    background-color: white;
    color:black;
    border:solid 5px var(--Cor2);
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}
*/

section#TabelaGrupos > article {
    background-color: var(--Cor2);
    margin: 0;
}

article#Auxiliar {
    display: block;
}

article#Auxiliar > p#PAuxiliar {
    margin: 0;
    padding: 20px 0px;
    font: bold 2em var(--FamilyText);
}

.ArtGruposMusculares {
    display: none;
    text-align: left;
    border: solid 35px var(--Cor2);
}

.ArtGruposMusculares > h1 {
    font: bold 50px var(--FamilyTitle);
    margin: 0;
    padding-bottom: 10px;
}

.ArtGruposMusculares > h2 {
    font: bold 35px var(--FamilyTitle);
    margin: 0;
    padding-top: 16px;
}

.ArtGruposMusculares > p {
    font: normal 22px var(--FamilyText);
    text-align: justify;
    margin: 0;
    padding-top: 10px;
}

.ArtGruposMusculares > p.ExplicaçãoH2 {
    padding-left: 20px;
}

#ArtPeito {
    display: none;
}

#ArtBraço {
    display: none;
}

#ArtAntebraço {
    display: none;
}

#ArtOmbro {
    display: none;
}

#ArtCostas {
    display: none;
}

#ArtAbdômen {
    display: none;
}

#ArtGlúteos {
    display: none;
}

#ArtPerna {
    display: none;
}